*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto sans', serif;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li a:hover, .nav-links ul a:focus{
    color: rgb(255, 82, 59);
}

.active{
    font-weight: 700;
}

nav .fa{
    display: none;
}

.logo{
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.container{
    width: 90%;
    margin: auto;
}

.header{
    background: linear-gradient(#fff, #ffd6d6)
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    gap: 40px;
}

.col{
    flex-basis: 70%;
    min-width: 200px;
}

.col img{
    max-width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.img img{
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    border: 20px solid #563434;
}

.immg{
    flex-basis: 30%;
}

.immg img{
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff, #f44336);
    box-shadow: 5px 5px 5px #fff;
    border-radius: 50%;
    margin-top: 50px;
    border: 21px solid #ca9494;
}

.card{
    margin-top: 40px;
    padding-right: -40px;
    flex-basis: 30%;
}

.card img{
    border: 10px solid #f44336;
}

.btn{
    text-decoration: none;
    font-size: 25px;
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
}

.btn:hover, .btn:focus{
    background-color: #563434;
    color: #fff;
}

h1{
    font-size: 8vmin;
    color: #555;
}

p.web{
    font-size: 25px;
    line-height: 1.6;
    color: #555;
}

.about{
    background-color:#563434;
}

.col h2{
    color: #fff;
    font-size: 6vmin;
    text-align: center;
    line-height: 1.6;
}

p.dev-2{
    font-size: 25px;
    color: white;
}

.row-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.conclusion h2{
    font-size: 30px;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}

.conclusion p{
    color: #fff;
    font-size: 23px;
    padding: 20px 0 40px 0;
}


.skills-2{
    background: linear-gradient(#ca9494, #ffd6d6);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
}

.skills-2 i{
    font-size: 3em;
}

.skills-2 h5{
    font-size: 5vmin;
    color: #555;
}

.skills-2 p{
    font-size: 25px;
    line-height: 1.6;
    color: #555;
}

.contact{
    background-color: #563434;
    padding: 40px 0;
}

.contact h4{
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 30px;
}

.contact p{
    display: inline-block;
}

.contact p a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: .5s;
}

.contact p a:hover, .contact p a:focus{
    color: #f44336;
}

.contact p a i{
    font-size: 1em;
    padding-right: 20px;
    transition: .5s;
}

.contact p a i:hover, .contact p a i:focus{
    transform: scale(1.4);
}

footer{
    background-color:#f44336;
    margin-top: 20px;
}

footer p{
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 30px 0px;
}

.skills-2 i{
    color: #f44336;
}





/*-------skills--------*/
.skills .container h2{
    font-size: 15vmin;
    margin: 10px;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.skills .container h2::after{
    content: '';
    width: 25%;
    height: 5px;
    background: #f44336;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*-------form------*/
form{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    font-size: 18px;
    color: #fff;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.email, .name, .message{
    width: 50%;
}

#email, #name, #message{
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f44336;
    outline: none;
    margin-bottom: 30px;
    width: 100%;
}

#message{
    height: 150px;
}

input.btnn{
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid #f44336;
    background-color: #f44336;
    color: #fff;
    border-radius: 5px;
}

@media(max-width:800px){
    .nav-links ul li{
        display: block;
    }

    .nav-links ul li a{
        color: #fff;
    }

    .nav-links ul li a:hover, .nav-links ul li a:focus{
        color: #563434;
        font-weight: 700;
    }

    .nav-links{
        position: absolute;
        background-color: #f44336;
        width: 100%;
        top: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #000;
        margin: 10px;
        font-size: 3em;
        cursor: pointer;
    }

    nav{
        padding: 0;
    }

    .email, .name, .message{
        width: 100%;
        padding-right: 20px;
    }
}

@media (max-width:700px){
    .row{
        flex-direction: column;
        padding-top: 50px;
    }

    .row-2{
        flex-direction: column;
    }
}

@media (max-width:380px){
    .line-break{
        display: block;
    }
}